@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<p>
    First off, we'd like to say thank you for wanting to learn more about the great people behind TechTouch. Secondly, I hope you are ready to learn about us, because there is a lot to tell.
</p>
<p>

</p>
