@{
    ViewBag.Title = "Contact Us";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>@ViewBag.Title.</h3>
        <h3>@ViewBag.Message</h3>
    </div>
</div>

<p>Do you have an Questions, comments, concerns, or ideas that you feel like you should let us know? Contact us using the methods below and voice your opions. Help us better ourselves for you.</p>

<address>
    <strong>Customer Support:</strong>   <a href="mailto:Support@TechTouch.com">Support@TechTouch.com</a><br />
    or<br />
    <strong>Call us:</strong> 705-478-9632
</address>