@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron-styles">
    <h1>Techtouch</h1>
    <p class="lead">In techtouch, we deliver only the best products.</p>
    <div class="container">
        <div class="main-links">
            <div class="row">
                <p class="col-md-4"> @Html.ActionLink("Register", "Register", "Account")</p>
                <p class="col-md-4"> @Html.ActionLink("Login", "Login", "Account")</p>
                <p class="col-md-4"> @Html.ActionLink("Go to Products", "Index", "Products")</p>
            </div>
        </div>
    </div>
</div>
