@model IEnumerable<Techtouch.Models.Product>

@{
    ViewBag.Title = "Home Page";
}

<div class="container text-center">
    <h3>Our best products</h3>
    @foreach (var item in Model) {
        <div class="product">
            <h4>@Html.DisplayFor(modelItem => item.product_name)</h4>
            <p>Price: @Html.DisplayFor(modelItem => item.product_price)</p>
        </div>
    }
</div>