@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="jumbotron-styles">
        <h1>Techtouch</h1>
        <p class="lead">In techtouch, we deliver only the best products.</p>
        <div class="main-links">
            <a href="@Url.Action("Login", "Account")" class="btn btn-default">Login</a>
            <a href="@Url.Action("Register", "Account")" class="btn btn-default">Register</a>
        </div>
    </div>
</div>

