@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Techtouch</h1>
    <p class="lead">In techtouch, we deliver only the best products.</p>
    @Html.ActionLink("Go to Products", "Index", "Products")
</div>
<div class="container">
    <p>Here at TechTouch, we strive to provide on the best for our clients. We provide the top of the market hardware for you every need. No longer do you have to look through pages of components
    on various websites only to not know which components are the best. By visting TechTouch, you are telling yourself that you've had enough of wondering through the web, you want the best. You've come to the best place to receive the best. Vist our @Html.ActionLink("Products", "Index", "Products") page to see the amazing products we offer.</p>
</div>
<div class="container">    
    <p>In order to perform purchases, please register. @Html.ActionLink("Register", "Register", "Account")</p>
    <p>Login here if you have an account. @Html.ActionLink("Login", "Login", "Account")</p>
</div>