@model IEnumerable<Techtouch.Models.Product>

@{
    ViewBag.Title = "Home Page";
}

<div class="container" ng-app="myApp">
    <div class="row best-products" ng-controller="HomeCtrl">
        <h3 class="text-center">Our best products</h3>
        <div ng-repeat="product in bestProducts" class="panel panel-primary col-lg-3 col-md-3 col-sm-6 col-xs-12 product-image col-lg-offset-3">
            <div class="panel-heading">

                <span class="panel-title"><a href="/Products/Details/{{ product.product_id }}">{{ product.product_name }}</a></span>

            </div>
            <div class="panel-body text-center">
                <span ng-if="product.product_image" class="span12"><img src="~/Content/product_images/{{ product.product_image }}" width="250" height="150" /></span><br />
                <span ng-if="!product.product_image" class="span12"><img src="~/Content/Images/noImage.jpg" width="250" height="150" /></span><br />
                <span>{{ product.product_description }}</span> <br />
                <strong>Cost:  {{ product.product_price }}</strong> <br />
                <span><a href="/Products/Details/{{ product.product_id }}">Details</a></span><br />
                <button class="btn btn-success" name="addToCart">Add To Cart</button>
            </div>
        </div>
    </div>
    <div class="row cheapest-products" ng-controller="HomeCtrl">
        <h3 class="text-center">Our cheapest products</h3>
        <div ng-repeat="product in cheapestProducts" class="panel panel-primary col-lg-3 col-md-3 col-sm-6 col-xs-12 product-image col-lg-offset-3">
            <div class="panel-heading">

                <span class="panel-title"><a href="/Products/Details/{{ product.product_id }}">{{ product.product_name }}</a></span>

            </div>
            <div class="panel-body text-center">
                <span ng-if="product.product_image" class="span12"><img src="~/Content/product_images/{{ product.product_image }}" width="250" height="150" /></span><br />
                <span ng-if="!product.product_image" class="span12"><img src="~/Content/Images/noImage.jpg" width="250" height="150" /></span><br />
                <span>{{ product.product_description }}</span> <br />
                <strong>Cost:  {{ product.product_price }}</strong> <br />
                <span><a href="/Products/Details/{{ product.product_id }}">Details</a></span><br />
                <button class="btn btn-success" name="addToCart">Add To Cart</button>
            </div>
        </div>
    </div>
</div>




<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js" type="text/javascript"></script>
<script src="@Url.Content("~/Content/js/home.js")" type="text/javascript"></script>
