@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Techtouch</h1>
    <p class="lead">In techtouch, we deliver only the best products.</p>
    @Html.ActionLink("Go to Products", "Index", "Products")
</div>