<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://techtouch111.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>techtouch111.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>techtouch111</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$techtouch111</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="TechtouchConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=zfje5sbl9o.database.windows.net;Initial Catalog=TechTouchie;User ID=aldrinjerome19;Password=MarcMaya-2919;Application Name=EntityFramework" Name="Data Source=zfje5sbl9o.database.windows.net;Initial Catalog=TechTouchie;User ID=aldrinjerome19;Password=MarcMaya-2919;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Techtouch.Models.TechtouchConnection, Techtouch" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=zfje5sbl9o.database.windows.net;Initial Catalog=TechTouchie;User ID=aldrinjerome19;Password=MarcMaya-2919;Application Name=EntityFramework" Name="Data Source=zfje5sbl9o.database.windows.net;Initial Catalog=TechTouchie;User ID=aldrinjerome19;Password=MarcMaya-2919;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Techtouch.Models.ApplicationDbContext, Techtouch" MigrationConfiguration="Techtouch.Migrations.Configuration, Techtouch" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=zfje5sbl9o.database.windows.net;Initial Catalog=TechTouchie;User ID=aldrinjerome19;Password=MarcMaya-2919;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TechtouchConnection-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.TechtouchModel.csdl|res://*/Models.TechtouchModel.ssdl|res://*/Models.TechtouchModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=zfje5sbl9o.database.windows.net;Initial Catalog=TechTouchie;User ID=aldrinjerome19;Password=MarcMaya-2919;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>